﻿@model IEnumerable<SmartPhotos.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<a class="btn btn-sm btn-success" href="/Albums/New">Add an album</a>
<br />
<br />
@foreach (var album in ViewBag.Albums)
{
    <div class="panel panel-default">
        <div class="panel-heading">@album.Title</div>
        <div class="panel-body">
            <a class="btn btn-sm btn-success" href="/Albums/Show/@album.Id">Show album</a>
        </div>
        @if (album.UserId == ViewBag.userCurent || ViewBag.esteAdmin)
        {
            <div class="panel-footer">
                <form method="post" action="/Albums/Delete/@album.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-danger" type="submit">Delete album</button>
                </form>
            </div>
        }
    </div>
    <br />
}