﻿@model SmartPhotos.Models.Album

@{
    ViewBag.Title = "";
}

<h2>Create album</h2>

<form method="post" action="/Albums/New">
    @Html.Label("Title", "Album title")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger " })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Create album</button>
</form>

