﻿@model SmartPhotos.Models.Comment

@{
    ViewBag.Title = "Edit";
}

@if (Model.UserId == ViewBag.currentUser || ViewBag.esteAdmin)
{
    <h2>Edit comment</h2>

    <form method="post" action="/Comments/Edit/@Model.Id">
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.createdDate)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.IdPhoto)
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <br />
        @Html.Label("Content", "Content")
        <br />
        @Html.EditorFor(m => m.Content)
        @Html.ValidationMessageFor(model => model.Content, null, new { @class = "text-danger " })
        <br />
        <br />
        <button class="btn btn-sm btn-success" type="submit">Edit</button>
    </form>
}


