﻿@model SmartPhotos.Models.Photo

@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div class="row text-center text-lg-left">

        <div class="col-lg-7 col-md-9 col-xs-11">
            <div class="thumbnail">
                <img src="@Url.Content(Model.ImageUrl)" alt="nimic">
                <div class="caption">
                    <h3>@Model.Title</h3>
                    <p>Description: @Model.Caption</p>
                    @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                    {
                        <form method="post" action="/Photo/Delete/@Model.Id">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <a class="btn btn-sm btn-info" href="/Photo/Edit/@Model.Id">Edit photo</a>
                            <button class="btn btn-sm btn-danger" type="submit">Delete photo</button>
                        </form>
                    }
                    <i class="glyphicon glyphicon-thumbs-up"></i> @ViewBag.likes
                    @if (ViewBag.utilizatorCurent != null)
                    {
                        <br />
                        if (ViewBag.like != null)
                        {
                            <form method="post" action="/Photo/Like/@Model.Id">
                                <button class="btn" type="submit">Unlike</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/Photo/Like/@Model.Id">
                                <button class="btn" type="submit">Like</button>
                            </form>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var comment in ViewBag.Comments)
{
<div class="panel panel-default">
    <div class="panel-heading">@Html.Raw(comment.Content)</div>

    <div class="panel-body">
        <p>User: @comment.User.UserName</p>
        <p>Date: @comment.createdDate</p>
    </div>
    @if (comment.UserId == ViewBag.utilizatorCurent)
    {
        <div class="panel-footer">
            <form method="post" action="/Comments/Delete/@comment.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <a class="btn btn-sm btn-info" href="/Comments/Edit/@comment.Id">Edit comment</a>
                <button class="btn btn-sm btn-danger" type="submit">Delete comment</button>
            </form>
        </div>
    }
</div>
    <br />
}

<form method="post" action="/Photo/AddCom">
    <input type="hidden" name="IdPhoto" value="@Model.Id" />
    <label>Comment: </label>
    <br />
    <input type="text" name="Content" />
    <button class="btn btn-sm btn-success" type="submit">Add comment</button>
</form>

