﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Smart Photos", "Index", "Photo", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Photos", "Index", "Photo")</li>
                <li>@Html.ActionLink("Categories of photos", "Index", "Categories")</li>
                @if (User.IsInRole("User"))
                {
                    <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                    <li>@Html.ActionLink("Pending comments", "Index", "Comments")</li>
                    <li>@Html.ActionLink("Add an image", "Create", "Photo")</li>
                }
                else if (User.IsInRole("Administrator"))
                {
                    <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li>@Html.ActionLink("Comments", "Index", "Comments")</li>
                    <li>@Html.ActionLink("Add an image", "Create", "Photo")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    <br />
    @using (Html.BeginForm("Index", "Photo", FormMethod.Get))
    {
        <i class="glyphicon glyphicon-search"></i>
        @Html.TextBox("SearchString")
        <button class="btn btn-sm btn-success" type="submit">Search</button>
    }
    <br />
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
