﻿@model SmartPhotos.Models.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit category</h2>

<form method="post" action="/Categories/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.Label("Nume", "Category name")
    <br />
    @Html.EditorFor(m => m.Nume)
    @Html.ValidationMessageFor(model => model.Nume, null, new { @class = "text-danger " })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Edit category</button>
</form>