﻿
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@if (ViewBag.esteAdmin)
{
    <a class="btn btn-sm btn-success" href="/Categories/New">Add a category</a>
    <br />
    <br />
}

@foreach (var category in ViewBag.Categories)
{
    <div class="panel panel-default">
        <div class="panel-heading">@category.Nume</div>
        <div class="panel-body">
            <a class="btn btn-sm btn-success" href="/Categories/Show/@category.Id">Show category</a>
        </div>
        @if (ViewBag.esteAdmin)
        {
            <div class="panel-footer">
                <form method="post" action="/Categories/Delete/@category.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-danger" type="submit">Delete category</button>
                </form>
            </div>
        }
    </div>
    <br />
}

