﻿@model SmartPhotos.Models.Category

@{
    ViewBag.Title = "New";
}

<h2>Add category</h2>

<form method="post" action="/Categories/New">
    @Html.Label("Nume", "Category name")
    <br />
    @Html.TextBox("Nume", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Nume, null, new { @class = "text-danger " })
    <br />
    <br />
    <button class="btn btn-sm btn-success" type="submit">Add category</button>
</form>

