﻿@model SmartPhotos.Models.Category

@{
    ViewBag.Title = "Show";
}

<h1>@Model.Nume</h1>
@if (ViewBag.esteAdmin)
{
    <hr />
    <form method="post" action="/Categories/Delete/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <a class="btn btn-sm btn-info" href="/Categories/Edit/@Model.Id">Edit category</a>
        <button class="btn btn-sm btn-danger" type="submit">Delete category</button>
    </form>
}
<hr />
<a class="btn btn-sm btn-success" href="/Photo/Index">Back to photos</a>

<a class="btn btn-sm btn-success" href="/Categories/Index">Back to categories</a>
<br />
<hr />
<div class="container">
    <div class="row text-center text-lg-left">
        @foreach (var image in ViewBag.Images)
        {
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail">
                    <a href="/Photo/Show/@image.Id">
                        <img src="@Url.Content(@image.ImageUrl)" alt="nimic" style="min-height: 200px; max-height:200px; min-width:200px; max-width:200px;">
                    </a>
                    <div class="caption">
                        <h3>@image.Title</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
