﻿@model SmartPhotos.Models.ApplicationUser

@{
    ViewBag.Title = "Afisare utilizatori";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@foreach (var user in ViewBag.UsersList)
{
    <div class="panel-heading">Nume utilizator: @user.UserName</div>

    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@user.Email</span>
        <br /> <br />

        @if (user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator: <span class="label label-default">@user.PhoneNumber</span>
        }

    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">Edit user</a>
    </div>

    <br /> <br />
}

